body
{
    background-image: url("../img/signup-bg.jpeg");
    background-size: 50%;
    width: 100%;
    height: 100%;
}
.add-seller-h1{
    color: #ff0f04;
    display: inline-flex;
    font-family: Cochin, serif;
    font-size:300%;
    align-content: center;
    margin-left: 25%;
    border-bottom: chartreuse 5px solid;
    background-color: aliceblue;
}
.add-seller-form
{   align-content: center;
    background-color: #cecab6;
    font-size: 150%;
    margin: 0 20% 20%;
    padding: 5%;
}
.add-seller-form label
{
    margin-right:50%;
}
.add-seller-form input
{
    padding-right: 50%;
    font-size: 100%;
}
#locality{
    font-size: 100%;
}
#submit-button
{
    margin-top: 5%;
    display: flex;
    align-content: center;
    background-color: #f0e8e8;
    color: #ff0f04;
    padding-left: 40%;
}
#submit-button:hover{
    font-size: 1.2em;
    background: #ff8400;
    cursor: pointer;
    align-content: center;

}

/* addSeller.css | http://localhost:8080/webapp/CSS/addSeller.css */

#submit-button:hover {
    /* font-size: 1.2em; */
    font-size:unset;
}

/* addSeller.css | http://localhost:8080/webapp/CSS/addSeller.css */

#submit-button {
    /* padding-left: 40%; */
    padding-left: 20%;
}

#submit-button {
    font-size: x-large;
}

.add-seller-form input {
    /* padding-right: 50%; */
    margin-left: 5%;
}

#submit-button {
    font-size: x-large;
    white-space: pre;
}




#submit-button {

    align-self: last baseline;
    padding: 0 25%;
}

/* Element | http://localhost:8080/webapp/addBrand.jsp */

.buttons > input:nth-child(2) {
    margin-top: 5%;
    padding-left: 30%;
}

/* Element | http://localhost:8080/webapp/addBrand.jsp */

.buttons {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 5%;
    display: inline-flex;
}
.alert{
    color: red;
    border: greenyellow 1px solid;
    background-color: antiquewhite;
    margin: 1em;
}
