.product{
    width: 100%;
    border: rgba(119, 203, 34, 0.69) 2px solid;
    display: -webkit-inline-flex;
    justify-content: space-around;
}
.product p{
    display: inline-block;
}

.product img{
    display: inline-flex;
    justify-content: flex-start;
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.product-button{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
}
.add_button{
    background-color: orange;
    color:white;
    border-radius: 5%;
    font-weight: bolder;
    padding: 5%;
    min-width: 4em;
    min-height: 10px;
}
.remove-button{
    background-color: orange;
    color:white;
    border-radius: 5%;
    font-weight: bolder;
    padding: 5%;
}
.buy-now{
    background-color: red;
    color: white;
    border-radius: 5%;
    font-weight: bolder;
    padding: 5%;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}
a .next{
    color: unset;
    background-color: unset;
}
.next {
    background-color: #04AA6D;
    color: white;
}
.view-button{
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
}
.checkout-area{

    display: inline-block;
    border: 0.7em dot-dot-dash rgba(119, 203, 34, 0.69);
    margin: 5% 40%;
}

/* Element | http://localhost:8080/webapp/buyerHome.jsp */

.pagination {
    display: inline-flex;
    margin-inline-start: 45%;
    color: darkblue;
    padding: 3% 1%;
}
.pagination > span:nth-child(3) {
    padding: 5%;
}

.banner-title {
    border: none;
    background: none;
    font-size: x-large;
    color: antiquewhite;
}