.banner{
    white-space: unset;
    width: 100%;
    min-height: 50px;
    display: inline-flex;
    background-color: mediumblue;
    font-size: 100%;
    justify-content: space-evenly;
}

.banner-title{
    color: yellowgreen;
    text-decoration: none;
    justify-items: flex-start;
    align-self: center;
}
.header-options{
    display: inline-flex;
    flex-direction: inherit;
}
.searchbar-header{
    margin-block: auto;

}
.header-options-list{
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
    margin: auto 2px;

}

.header-options-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

a:link {
     color: white;
     background-color: transparent;
     text-decoration: none;
 }

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.banner-title {
    border: none;
    background: none;
    font-size: x-large;
    color: antiquewhite;
}
