.home-h2
{
    display: block;
    width:50%;
    margin: 0% 20%;
    background-color: brown;
    border: #0ec64e 5px solid;
    font-size: 200%;
    align-self: center;
    align-content: center;
    align-items: center;
    border-radius: 10%;
}
.home-options
{
    margin:  5% 25%;
    display: inline-block;
    background-color: antiquewhite;
    border: 5px black solid;
    padding: 5%;

}
.options-buttons
{
    align-self: center;
    align-items: center;
    align-content: center;
    margin-bottom: 3%;
    font-size: 150%;
    font-weight: 600;
    color: #0ec64e;
    display: block;
    width: 100%;

}
.options-buttons:hover
{
    background-color: beige;
    cursor: pointer;

}
body
{
    background-image: url("../img/adminpagebg.png");
    background-size: 50%;
}
.alert{
    color: red;
    border: greenyellow 1px solid;
    background-color: antiquewhite;
    margin: 1em;
}
