body{
    background-image: url("../img/indexpagebg.jpeg");

    background-size: 50%;
}
#index-h1{
    color: #ff0f04;
    display: inline-flex;
    font-family: Cochin, serif;
    font-size:300%;
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    border-bottom: chartreuse 5px solid;
    background-color: aliceblue;
}
.indexPageButtons{
    border: solid 2px #f4ffef;
    color: crimson;
    align-content: center;
    margin:20px;
    padding: 10px 20px;
    background-color: black;
    font-size: 200%;

}
.indexPageButtons:hover
{
    background: chartreuse;
    cursor: pointer;


}
.indexPageButtonslist
{
    display: inline-flex;
    margin-left: 30%;
    margin-right: 30%;
    border: #bd56ff dashed 6px;
    padding: 20px;
    background-color: yellow;
}