.order{
    border: mediumblue 3px solid;
    margin-bottom: 5px;
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.orderProduct {
    border-top: 2px solid darkorange;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}
.banner-title {
    border: none;
    background: none;
    font-size: x-large;
    color: antiquewhite;
}