
/* Element | http://localhost:8080/webapp/login */

body {
    width: 100%;
    background-color: white;
}

/* Element | http://localhost:8080/webapp/login */

.h2-div {
    /* display: inline-table; */
    display: inline;
    flex-direction: row;
    justify-self: first baseline;
}

/* Element | http://localhost:8080/webapp/login */

.home-h2 {
    /* display: flow-root; */
    /* display: grid; */
    /* display: initial; */
    justify-content: center;
    display: inline-block;
    width: 100%;
}

/* Element | http://localhost:8080/webapp/login */

.home-options {
    /* display: inline-grid; */
    /* display: flow-root; */
    /* display: fle; */
    /* display: block; */
    /* display: ; */
    display: inline-block;
    flex-direction: column;
    align-content: first baseline;
    border: black 1px solid;
}

/* Inline #1 | http://localhost:8080/webapp/login */

.home-options {
    margin: 5% 40%;
}

.options-buttons {
    padding: 5%;
    display: inline-flex;
}

#add-product-button {
}

.options-buttons {
    font-size: x-large;
    width: 100%;
}


/* sellerHome.css | http://localhost:8080/webapp/CSS/sellerHome.css */

.options-buttons {
    /* display: inline-flex; */
    margin-block: inherit;
}

.options-buttons {
    height: fit-content;
}

/* sellerHome.css | http://localhost:8080/webapp/CSS/sellerHome.css */

.home-options {
   display: flex;
    /* flex-direction: column; */

    flex-direction: row;
    justify-content: space-between;
}

.home-options {
    /* margin: 5% 40%; */
    margin: 5% 10%;
}

/* Element | http://localhost:8080/webapp/deliveryAgentHome.jsp */

.button-options {
    /* display: flow-root; */
    /* display: grid; */
    /* display: initial; */
    /* display: inline-flex; */
    display: inline-block;
}

/* sellerHome.css | http://localhost:8080/webapp/CSS/sellerHome.css */

.home-options {
    background-color: dimgrey;
}


/* Element | http://localhost:8080/webapp/deliveryAgentHome.jsp */

.bg-img > img:nth-child(1) {
    width: 150%;
    height: 100%;
}

/* sellerHome.css | http://localhost:8080/webapp/CSS/sellerHome.css */

.home-options {
    /* margin: 5% 10%; */
    margin: 5% 20%;
}

