body
{
    background-image: url("../img/signup-bg.jpeg");
    background-size: 50%;
    width: 100%;
    height: 100%;
}
.signUp-h1{
    color: #ff0f04;
    display: inline-flex;
    font-family: Cochin, serif;
    font-size:300%;
    align-content: center;
    margin-left: 25%;
    border-bottom: chartreuse 5px solid;
    background-color: aliceblue;
}
.signUp-form
{   align-content: center;
    background-color: #cecab6;
    font-size: 150%;
    margin: 0 20% 20%;
    padding: 5%;
}
.signUp-form label
{
    margin-right:50%;
}
.signUp-form input
{
    padding-right: 50%;
    font-size: 100%;
}
#gender{
    padding-right: 50%;
    font-size: 100%;
}
#locality{
    font-size: 100%;
}
#submit-button
{
    margin-top: 5%;
    display: flex;
    align-content: center;
    background-color: black;
    color: #ff0f04;
    padding-left: 40%;
}
#submit-button:hover{
    font-size: 1.5em;
    background: chartreuse;
    cursor: pointer;
    align-content: center;

}