.view-options{
    color: black;
    inline-size:15%;
    display: inline-block;
    margin-left: 70%;
    font-size: 150%;
    padding: 15px;
    position: static;

}
.view-options button:hover{
    background-color: #0ec64e;
    font-size: 300%;
}
h1
{
    margin-left: unset;
}

body
{
    background-color: burlywood;
}

table {
    border-collapse: collapse;
    height: 90%;
    display: inline-flex;
    width: 100%;
}

th, td {

    border: 3px solid black;
    font-size: 150%;
    background-color: aliceblue;
    padding: 10px;
}

.view-form{
    border: black 2px solid;
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #f4ffef;
}
button{
    background-color: chocolate;
}
button:hover{
    font-weight: bolder;
}
#deliveryAgentDiv{
    display: flex;
}
button {
    width: 25%;
    font-size: xx-large;
    font-weight: bolder;
}
button {
    width: 10%;
}
.view-form {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5%;
    font-size: larger;
}
.changeButton{
    width: 100%;
}

